<html> 
    <body> 
        <h1> HOLAAAAA </h1>
        <h2> Aca se muestran los nombres de la base de datos :P
        </h2>
        <h2> (esto solo es una vista de prueba para ver si se conecta bien la base de datos, luego la borro )</h2>
        <ul> 
            <% for (let i = 0; i < usuario.length; i++) {%>
             <li>  
             <%= usuario[i].nombre%>
             </li>
            <% } %>
        </ul>
    </body>
</html>