<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carrito prueba</title>
    <link href="../css/styles-register.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/418aba2bb0.js" crossorigin="anonymous"></script>
    
    <!-- Bootstrap CSS --> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    <header>
        <%- include("../partials/header") %>
    </header>
    <br>
    <br>
      <main>
        <h1 align="center"> Carrito de pruebas</h1>
        <div class="row-product"> 
        <div class= "caja"> 
        <div class="relleno"> 
        <h4> Aca irá la imagen xd</h4>
        <h1> Ensalada rusa</h1>
        <h2> 20$</h2>
        <h3> cantidad: 8</h3>
        </div>
        </div>

        </div>
        <h1 align="center"> Total: 20$</h1>
       
      </main>
      <br>
      <%- include("../partials/footer") %>
      <script src="/js/scriptcarrito.js"> </script>
</body>
</html>